<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.keephealthy02.Mapper.FoodMapper">
  <resultMap id="BaseResultMap" type="org.example.keephealthy02.Entity.Food">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="calories" jdbcType="REAL" property="calories" />
  </resultMap>
  <insert id="insert" parameterType="org.example.keephealthy02.Entity.Food">
    insert into food (id, name, calories
      )
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{calories,jdbcType=REAL}
      )
  </insert>
</mapper>