<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.keephealthy02.Mapper.HealthyanalysisMapper">
  <resultMap id="BaseResultMap" type="org.example.keephealthy02.Entity.Healthyanalysis">
    <result column="Date" jdbcType="DATE" property="date" />
    <result column="userid" jdbcType="VARCHAR" property="userId" />
    <result column="BMI" jdbcType="REAL" property="BMI" />
    <result column="healthLevel" jdbcType="INTEGER" property="healthLevel" />
  </resultMap>
  <insert id="insert" parameterType="org.example.keephealthy02.Entity.Healthyanalysis">
    insert into healthyanalysis (Date, userid, bmi, health_level)
    values (#{date,jdbcType=DATE}, #{userid,jdbcType=VARCHAR}, #{bmi,jdbcType=REAL}, 
      #{healthLevel,jdbcType=INTEGER})
  </insert>
    <select id="SelectHealthyWithDate" resultType="java.lang.Integer">
        select * from healthyanalysis
        where userid = #{userid} AND date = #{date}
    </select>
</mapper>