<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.keephealthy02.Mapper.SportrecordMapper">
  <resultMap id="BaseResultMap" type="org.example.keephealthy02.Entity.Sportrecord">
    <result column="date" jdbcType="DATE" property="date" />
    <result column="consumeCalories" jdbcType="REAL" property="consumeCalories" />
    <result column="userid" jdbcType="VARCHAR" property="userid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="org.example.keephealthy02.Entity.Sportrecord">
    <result column="type" jdbcType="LONGVARCHAR" property="type" />
  </resultMap>
  <sql id="Blob_Column_List">
    type
  </sql>
  <insert id="insert" parameterType="org.example.keephealthy02.Entity.Sportrecord">
    insert into sportrecord (date, consumeCalories, userid, 
      type)
    values (#{date,jdbcType=DATE}, #{consumecalories,jdbcType=REAL}, #{userid,jdbcType=VARCHAR}, 
      #{type,jdbcType=LONGVARCHAR})
  </insert>
  <select id="getConsumeCalories" resultType="java.lang.Double">
    SELECT consumeCalories
    FROM userdiet
    WHERE userid = #{userid} AND date = #{date}
  </select>
</mapper>