<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.keephealthy02.Mapper.UserMapper">
  <resultMap id="BaseResultMap" type="org.example.keephealthy02.Entity.User">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="height" jdbcType="REAL" property="height" />
    <result column="weight" jdbcType="REAL" property="weight" />
    <result column="targetweight" jdbcType="VARCHAR" property="targetweight" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="org.example.keephealthy02.Entity.User">
    <result column="past_medical_history" jdbcType="LONGVARCHAR" property="pastMedicalHistory" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, password, sex, birthday, height, weight, targetweight
  </sql>
  <sql id="Blob_Column_List">
    past_medical_history
  </sql>
  <select id="selectById" resultType="org.example.keephealthy02.Entity.User" parameterType="java.lang.String">
    select * from user
    where id = #{id}
  </select>
  <delete id="deleteById" parameterType="java.lang.String">
    delete from user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.example.keephealthy02.Entity.User">
    insert into user (id, name, password, 
      sex, birthday, height, weight, 
      targetweight, past_medical_history)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{sex,jdbcType=INTEGER}, #{birthday,jdbcType=DATE}, #{height,jdbcType=REAL}, #{weight,jdbcType=REAL}, 
      #{targetweight,jdbcType=VARCHAR}, #{pastMedicalHistory,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateById" parameterType="org.example.keephealthy02.Entity.User">
    update user
    <set>
      <if test="et.name != null">
        name = #{et.name,jdbcType=VARCHAR},
      </if>
      <if test="et.password != null">
        password = #{et.password,jdbcType=VARCHAR},
      </if>
      <if test="et.sex != null">
        sex = #{et.sex,jdbcType=INTEGER},
      </if>
      <if test="et.birthday != null">
        birthday = #{et.birthday,jdbcType=DATE},
      </if>
      <if test="et.height != null">
        height = #{et.height,jdbcType=REAL},
      </if>
      <if test="et.weight != null">
        weight = #{et.weight,jdbcType=REAL},
      </if>
      <if test="et.targetweight != null">
        targetweight = #{et.targetweight,jdbcType=VARCHAR},
      </if>
      <if test="et.pastMedicalHistory != null">
        past_medical_history = #{et.pastMedicalHistory,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{et.id,jdbcType=VARCHAR}
  </update>
</mapper>